{% extends "base.html" %}
{% block content %}
<div class="top-nav">
    <a href="{{ url_for('convidados.dashboard_page') }}" class=" btn btn-secondary">Dashboard</a>
    <a href="{{ url_for('convidados.listar_page')}}" class="btn btn-primary active">Convidados</a>
    <a href="{{ url_for('auth.me')}}" class="btn btn-secondary">Perfil</a>
    <a href="{{ url_for('convidados.recepcao_page')}}" class="btn btn-secondary">Recepção</a>
</div>

<div>
    <form action="{{ url_for('convidados.editar_post_page', id=convidado.id) }}" method="post">
        <div>
            <input name="nome" type="text" value="{{ convidado.nome }}">
       </div>

       <div>
            <input name="cpf" type="text" value="{{ convidado.cpf }}">
       </div>
       
       <div>
            <input name="mesa" type="text" value="{{ convidado.mesa }}">
       </div>
       <div>
        <button type="submit">Editar</button>
       </div>
    </form>
</div>
{% endblock %}