{% extends "base.html" %}
{% block content %}
<div>
    <form action="{{ url_for('auth.cadastrar_post_page')}}" method="post">
        <div>
            <input name="nome" type="text" placeholder="Nome:">
       </div>

       <div>
            <input name="email" type="text" placeholder="Email:">
       </div>
       
       <div>
            <input name="senha" type="password" placeholder="Senha:">
       </div>
        <div>
            <input name="perfil" type="text" placeholder="Perfil:">
       </div>
       <div>
        <button type="submit">Cadastrar</button>
       </div>
    </form>
</div>
{% endblock %}